* {
    padding: 0;
    margin: 0;
}

#game {
    width: 500px;
    height: 900px;
    border: 1px solid black;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
}

#character {
    width: 100px;
    height: 100px;
    background-image: url('Assets/boat.png');
    background-size: cover;
    position: relative;
    top: 700px;
    left: 100px;
}

#block {
    width: 100px;
    height: 100px;
    background-image: url('Assets/Shark.png');
    background-size: cover;
    position: relative;
    top: 900px;
    animation: slide 1s infinite;
}

#block2 {
    width: 100px;
    height: 100px;
    background-image: url('Assets/giantFish.png');
    background-size: cover;
    position: relative;
    top: 900px;
    animation: slide 1s infinite;
}

#block3 {
    width: 100px;
    height: 100px;
    background-image: url('Assets/bigBoat.png');
    background-size: cover;
    position: relative;
    top: 900px;
    animation: slide 1s infinite;
}
#block4 {
    width: 100px;
    height: 100px;
    background-image: url('Assets/iceberg.png');
    background-size: cover;
    position: relative;
    top: 900px;
    animation: slide 1s infinite;
}

#left, #right {
    width: 50%;
    position: absolute;
    height: 500px;
}

#right {
    left:50%;
}

@keyframes slide{
    0%{top:-100px};
    1000%{top:500px};
}